@import "../../../../../assets/styles/variables.scss";

.reset{
    height: 222px;
    padding: 24px;

    .title{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 8px;
    }

    .link{
        width: 158px;
        height: 38px;
    }

    .wrapper{
        width: 267px;

        &:before{
            content: url('../../../../../assets/img/saved.svg');
        }
    }
}
