@import "src/assets/styles/variables";

.description__wrapper {
  margin-bottom: 32px;
}

.description__list {
  padding-left: 17px;
  list-style: disc;

  &--item {
    font-weight: 700;
    font-size: 14px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.page__wrapper {
  position: relative;
}

.fixed-btn {
  position: fixed;
  right: 362px;
  bottom: 163px;
}
