.game-table__wrapper {
  display: inline-grid;
  grid-template-rows: repeat(3, 108px);
  grid-auto-rows: minmax(auto, 108px);
  grid-template-areas:
  "cell cell cell"
  "cell cell cell"
  "cell cell cell";
  grid-gap: 12px;
  width: 344px;
  height: 348px;
}

.cell {
  grid-area: cell;
}

@media (max-width:709px) {
  .game-table__wrapper {
    width: 320px;
    height: 324px;
    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: minmax(auto, 100px);
  }
}
