<div class="leader-board-item__wrapper">
  <span class="leader-board-item__place">1</span>
  <img class="leader-board-item__avatar" src="../../../../../assets/img/user_avatar.png" alt="avatar" width="51" height="51">
  <div class="points__wrapper">
    <span>Jan_2012</span>
    <div class="points">
      <img class="points__image" src="../../../../../assets/img/medal.svg" alt="medal logo" width="15" height="21">
      <span>345</span>
    </div>
  </div>
  <app-statistic [containerClass]="'leaderBoard'"></app-statistic>
  <div class="invite-button__wrapper">
    <button class="link secondary-link invite-button">Invite to game</button>
  </div>
</div>
