<div class="page__wrapper">
  <ng-container *ngIf="scrollObserver$ | async"></ng-container>
  <h1 class="page__title">Welcome to Tic Tac Toe</h1>

  <div class="game-field__wrapper">
    <app-game-field class="game-field"></app-game-field>
    <div class="game-field__overlay">
      <a class="game-field__overlay--link link secondary-link" href="">
        Play with robot
      </a>
      <a class="game-field__overlay--link link secondary-link" href="">
        Play with random player
      </a>
      <a class="game-field__overlay--link link secondary-link" href="">
        Play with friend
      </a>
    </div>
  </div>
  <app-quiz></app-quiz>
  <app-rules></app-rules>
  <app-up-button *ngIf="scrollHeight > 300" class="fixed-btn" (upScreen)="onUpBtn()"></app-up-button>
</div>

