<div class="sig-up__wrapper">
  <form [formGroup]="registrationForm" autocomplete="off" (submit)="signUp()" class="registration-form">
    <label class="form__item">
      Nickname (will shown for other users)
      <input class="form__input" type="text" placeholder="Enter your nickname" [formControl]="nickName"/>
    </label>
    <app-email-input></app-email-input>
    <app-password-input (passwordValue)="onPasswordKeyDown($event)" [title]="passwordTitle"></app-password-input>
    <app-password-validation></app-password-validation>

    <div class="condition-checkbox__wrapper">
      <label class="condition-checkbox__label">
        <input class="condition-checkbox" type="checkbox" [formControl]="checkbox"/>
        <span class="accept-checkbox">
      I accept the
    </span>
      </label>
      <a class="condition__link" [routerLink]="[ '/', routerLinks.termsAndConditions]" target="_blank">Terms & Conditions</a>
    </div>
    <div class="signIn__wrapper">
      <button class="link primary-link signUp__button" type="submit">Sign Up</button>
    </div>
  </form>

  <div class="additional-question__wrapper">
    <span class="additional-question">Already have an account?</span>
    <a class="additional-question__link" href="">Sign In</a>
  </div>
</div>
