<form [formGroup]="signInForm" autocomplete="off" (submit)="onSignIn()">
  <ng-container *ngIf="signInSubscription$ | async"></ng-container>

  <label class="form__item">
    Email Address
    <input class="form__input" type="text" placeholder="Enter your email" [formControl]="email"/>
  </label>
  <app-password-input [title]="passwordTitle" (passwordValue)="onPasswordKeyDown($event)"></app-password-input>

  <p class="forgot__link--wrapper"><a class="forgot__link" href="">Forgot your password?</a></p>

  <div class="signIn__wrapper">
    <button class="link primary-link signIn__button" type="submit">Sign In</button>
  </div>
</form>

<p class="additional-question__wrapper">
  <span class="additional-question">Don't have an account?</span>
  <a class="additional-question__link" [routerLink]="['/', routerLinks.authorization, routerLinks.signUp]">
    <span>Sign Up now</span>
    <img src="../../../../assets/img/arrow-right.svg" alt="arrow_right_icon">
  </a>
</p>
