@import "../../../../../assets/styles/variables";

.reset__btn {
  padding: 8px 127px;
}

.reset__wrapper {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

.reset-password__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 633px;
}

.back-to-signIn {
  &__link {
    position: relative;
    padding-left: 15px;
    color: $link-color;
    font-weight: 700;
    font-size: 14px;

    &::before {
      position: absolute;
      top: 3px;
      left: 1px;
      content: '';
      background-image: url("../../../../../assets/img/blue-arrow-left.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }
  }

  &__description {


  }
}

.aaa {
  fill: #3396BB;
}
