<div class="complexity__wrapper container-settings col">
    <h4 class="complexity__title">Complexity:</h4>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="easy" checked>
     <span>Easy</span>
   </label>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="medium">
     <span class="complexity__radio--description">Medium</span>
   </label>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="hard">
     <span>Hard</span>
   </label>
</div>
