<div class="complexity container-settings col">
    <h4 class="complexity__title">Complexity:</h4>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="easy">
     <span>Easy</span>
   </label>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="medium">
     <span>Medium</span>
   </label>
   <label class="complexity__label">
     <input class="complexity__radio" type="radio" name="complexity" value="hard">
     <span>Hard</span>
   </label>
</div>
