<section class="quiz__wrapper">
  <div class="feedback__wrapper">
    <div class="like-question__wrapper question__wrapper">
      <h3 class="feedback__title">Like game?</h3>
      <p class="question__description support-Ukraine">Please support Ukraine!</p>
      <a
        class="donate__link link primary-link"
        target="_blank"
        href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-rahunok-dlya-gumanitarnoyi-dopomogi-ukrayintsyam-postrajdalim-vid-rosiyskoyi-agresiyi"
      >
        Donate
      </a>
    </div>

    <div class="bug-report__wrapper question__wrapper">
      <h3 class="feedback__title">Find error?</h3>
      <p class="question__description">Please let us know</p>
      <a class="report__link link secondary-link" href="mailto:volodymyr_dziuman@epam.com">Report an error</a>
    </div>
  </div>
</section>
