<div [ngClass]="{'resize__wrapper': isComponentResized}" class="score__wrapper">
    <p
      [ngClass]="{'resize__item': isComponentResized}"
      class="score__item resize__item trophy"
    >
      You won: 123
    </p>
    <p
      [ngClass]="{'resize__item': isComponentResized}"
      class="score__item resize__item handshake"
    >
      Draw: 56
    </p>
    <p
      [ngClass]="{'resize__item': isComponentResized}"
      class="score__item resize__item trophy"
    >
      Robot won: 123
    </p>
</div>
