@import "../../../../../assets/styles/variables.scss";

.info{
  height: 222px;
  padding: 88px 24px 24px;
  background-position: center top 20px;
  background-repeat: no-repeat;

  .title{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .link{
    width: 158px;
    height: 38px;
  }

  .wrapper{
    width: 303px;
  }
}
