<label class="form__item password-input" [ngClass]="{'red': !isPasswordValid && isPasswordTouched}">
  {{title}}
  <input
    #passwordInput
    autocomplete="new-password"
    class="form__input password"
    [ngClass]="{'red-border': !isPasswordValid && isPasswordTouched}"
    type="password"
    (input)="changed(passwordInput.value)"
    (blur)="touched()"
    placeholder="Enter password"
    [value]="password"
  />
  <button type="button" (click)="togglePasswordVisibility()" class="show-pass__button">
    <img [attr.src]="iconSrc" alt="show-password-button">
  </button>
</label>
