<div class="leave_round modal-alert col">
     <h2 class="title">Are you sure you want to go? </h2>
    <p class="message">If you leave the current round will be lost</p>
    <div class="modal_buttons row space-around w-100">
        <div class="link secondary-link row center">
            <a class="leave-btn">
              Leave
            </a>
        </div>
        <div class="link primary-link row center">
            <a class="stay-btn">
              Stay
            </a>
        </div>
    </div>
    <button class="btn-close" type="button"></button>
</div>
