<div class="rules__wrapper">
  <h2 class="rules__title">How to play</h2>
  <p class="rules__item">
    You probably already know how to play Tic-Tac-Toe. It's a really simple game, right? That's what most people think. But if you really wrap your brain around it, you'll discover that Tic-Tac-Toe isn't quite as simple as you think!
  </p>
  <p class="rules__item">
    Tic-Tac -Toe (along with a lot of other games) involves looking ahead and trying to figure out what the person playing against you might do next.
  </p>
  <h3 class="rules__item">RULES FOR TIC-TAC-TOE</h3>
  <ol>
    <li class="rules__item">1. The game is played on a grid that's 3 squares by 3 squares.</li>
    <li class="rules__item">2. You are X, your friend (or the computer in this case) is O. Players take turns putting their marks in empty squares.</li>
    <li class="rules__item">3. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.</li>
    <li class="rules__item">4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.</li>
  </ol>
</div>
