<app-dialog-window (onBackdropClick)="dialogRef.close()" >
  <div saveComp class="save_score col modal-alert">
    <div>
      <h2 class="title">Save your score</h2>
      <p class="message">You can save your results and participate in the ranking</p>
    </div>
    <div class="modal_buttons row space-around w-100">
      <div class="row center">
        <a class="leave-btn link secondary-link" [mat-dialog-close]="true" appStopPropagation>
          Leave anyway
        </a>
      </div>
      <div class="row center">
        <a class="link primary-link" [mat-dialog-close]="true" (click)="onSignUp()" appStopPropagation>
          Sign Up
        </a>
      </div>
      <div class="row center">
        <a class="link primary-link" [mat-dialog-close]="true" (click)="onSignIn()" appStopPropagation>
          Sign In
        </a>
      </div>
    </div>
    <button class="btn-close" mat-button type="button" [mat-dialog-close]="false"></button>
  </div>

</app-dialog-window>
