@import "../../../../../assets/styles/variables.scss";

.password-reset{
    width: 100%;
    min-height: 240px;
    background-color: #fff;


    &_wrapper{
       min-height: 205px;

        .title{
            font-size: 18px;
            font-family: 'Roboto Medium';
            line-height: 30px;
            text-align: center;            
        }

       .message{        
            font-size: 15px;
            font-weight: 700;
            text-align: start;
       }

       .primary-link{
            width: 115px;
            height: 38px;
            margin-top: 36px;
            font-size: 14px;
            font-family: 'Nunito';
            margin: 40px auto;
        } 
    }

    &_link{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: 'Roboto Medium';
        line-height: 18px;
       

        @media (max-width:709px) {
            text-align: center; 
        }

        .url{
            color: $blue-color;
        }
    }
}
