<div class="password-reset col">
    <div class="password-reset_wrapper col">
            <h2 class="title">Password reset</h2>
            <p class="message">We got a request to change the password for the account with the email [email] </p>
            <p class="message">If you don't want to reset your password, you can ignore this email.</p>
            <p class="message">If you didn't request this change, please contact support.</p>        
        <div class="link primary-link col center">
            <a class="confirm-btn">
              Reset password
            </a>
        </div> 
    </div>
    <div class="password-reset_link">
        <span>Or follow the link: </span><a href="#" class="url"> https://www.XO.com/[link]</a>
    </div>
</div>