<div class="footer__wrapper">
  <div class="footer__content--wrapper">
    <div class="footer__item--wrapper">
      <div class="logo__wrapper">
        <img src="../../../../assets/img/white-cross.svg" alt="cross" class="logo">
        <img src="../../../../assets/img/white-ellipse.svg" alt="ellipse" class="logo">
      </div>
      <p class="footer__description">© 2022 EPAM Systems, Inc.</p>
      <p class="footer__description">& Kramarenko Vladyslav</p>
      <p class="footer__description">All Rights Reserved.</p>
    </div>

    <div class="footer__item--wrapper">
      <div class="social-icon__wrapper">
        <a class="social__link" href="https://www.facebook.com/Vladyslav.Kramarenko" target="_blank" >
          <img src="../../../../assets/img/facebook.svg" alt="facebook" class="logo">
        </a>
        <a class="social__link" href="https://www.instagram.com/kramarenko.vladyslav/" target="_blank">
          <img src="../../../../assets/img/instagram.svg" alt="instagram" class="logo">
        </a>
      </div>
      <p class="footer__link--wrapper">
        <a class="footer__link" href="mailto:kramarenko.vladyslav1992@gmail.com" target="_blank">
          Contact Us
        </a>
      </p>
      <p class="footer__link--wrapper">
        <a class="footer__link" [routerLink]="[routerLink.termsAndConditions]" target="_blank">
          Terms & Conditions
        </a>
      </p>
    </div>
  </div>
</div>
