<div class="validation-rules__wrapper">
  <ul class="validation-rules__list">
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isIncludeLowerCaseLetterSymbol,
        'red': isPasswordTouched && !isIncludeLowerCaseLetterSymbol
        }">
        One lowercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isIncludeSpecialSymbol,
        'red': isPasswordTouched && !isIncludeSpecialSymbol
        }">
        At least 1 symbol
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isIncludeCapitalLetterSymbol,
        'red': isPasswordTouched && !isIncludeCapitalLetterSymbol
        }">
        One uppercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isMinLengthEnough,
        'red': isPasswordTouched && !isMinLengthEnough
        }">
        8 characters minimum
      </span>
    </li>
  </ul>
</div>
