<div class="validation-rules__wrapper">
  <ul class="validation-rules__list">
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isPasswordRulesValid.isIncludeLowerCaseLetterSymbol,
        'red': isPasswordTouched && !isPasswordRulesValid.isIncludeLowerCaseLetterSymbol
        }"
        >
        One lowercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isPasswordRulesValid.isMinLengthEnough,
        'red': isPasswordTouched && !isPasswordRulesValid.isMinLengthEnough
        }"
        >
        6 characters minimum
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isPasswordRulesValid.isIncludeCapitalLetterSymbol,
        'red': isPasswordTouched && !isPasswordRulesValid.isIncludeCapitalLetterSymbol
        }"
        >
        One uppercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isPasswordRulesValid.isLengthNoLongerThanMaxValue,
        'red': isPasswordTouched && !isPasswordRulesValid.isLengthNoLongerThanMaxValue
        }"
      >
        8 characters maximum
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        [ngClass]="{
        'green': isPasswordRulesValid.isIncludeNumber,
        'red': isPasswordTouched && !isPasswordRulesValid.isIncludeNumber
        }"
      >
        At least one number
      </span>
    </li>
  </ul>
</div>
