.validation-rules {
  &__list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 220px;
    align-self: flex-start;
  }

  &__item {
    width: 50%;
    font-size: 8px;

    &::before {
      content: '•';
      display: inline-block; width: 1em
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    width: 348px;
    padding-bottom: 24px;
  }
}
