<div class="validation-rules__wrapper">
  <ul class="validation-rules__list">
    <li class="validation-rules__item">
      <span
        >
        One lowercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        >
        6 characters minimum
      </span>
    </li>
    <li class="validation-rules__item">
      <span
        >
        One uppercase character
      </span>
    </li>
    <li class="validation-rules__item">
      <span
      >
        8 characters maximum
      </span>
    </li>
    <li class="validation-rules__item">
      <span
      >
        At least one number
      </span>
    </li>
  </ul>
</div>
