<section class="create-new-password__wrapper">
  <ng-template *ngIf="this.passwordSubscription$ | async"></ng-template>

  <h2 class="create-new-password__title">Reset password</h2>
  <div class="form-control__wrapper">
    <app-email-input [formControl]="email" [isEmailInvalid]="isEmailInvalid"></app-email-input>
  </div>

  <div class="form-control__wrapper">
    <label class="form__item code-label" [ngClass]="{'red': isCodeInvalid}">
      Enter 6 digit from email
      <input
        class="form__input name"
        type="text"
        [ngClass]="{'red-border': isCodeInvalid}"
        placeholder="Enter digit from email"
        [formControl]="verificationCode"
      />
    </label>
  </div>

  <div class="form-control__wrapper">
    <app-password-input
      [formControl]="password"
      [title]="passwordTitle"
      [isPasswordValid]="isPasswordValid"
      [isPasswordTouched]="isPasswordTouched"
    ></app-password-input>

    <app-password-validation
      [isPasswordTouched]="isPasswordTouched"
      [isPasswordRulesValid]="isPasswordRulesValid"
    ></app-password-validation>
  </div>

  <button (click)="onSubmit()" class="link primary-link submit">Submit</button>
</section>
