@import "../../../../../assets/styles/variables";

.submit {
  margin-bottom: 650px;
  padding: 8px 150px;
}

.create-new-password {
  &__title {
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.code-label.form__item {
  width: 348px;
}
