<div class="welcome col">
    <div class="welcome_wrapper col center">
        <div class="col center">
            <h2 class="title">Welcome on board!</h2>
            <p class="message">Please confirm your email. </p>
        </div>
        <div class="link primary-link col center">
            <a class="confirm-btn">
              Confirm email
            </a>
        </div> 
    </div>
    <div class="welcome_link">
        <span>Or follow the link: </span><a href="#" class="url"> https://www.XO.com/[link]</a>
    </div>
</div>