<div class="symbol container-settings col">
  <span class="symbol__title">Preferred symbol:</span>
  <label class="cursor-pointer radio-button__label">
    <input class="cursor-pointer" type="radio" name="symbol" value="X" checked>
    <span class="radio-button__description">
      X
   </span></label>
  <label class="cursor-pointer radio-button__label">
    <input class="cursor-pointer" type="radio" name="symbol" value="O">
    <span class="radio-button__description">
      O
   </span>
  </label>
</div>
