@import "variables";
@import "fonts";

body {
  max-width: 1920px;
  margin: 0 auto;
  color: $primary-color;
  box-sizing: border-box;
  font-family: 'Nunito';
}

.page__wrapper {
  width: 100%;
}

.container {
  max-width: 708px;
  margin: 0 auto;
}

.link {
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  font-weight: 700;
}

.primary-link {
  color: $white-color;
  background-color: $primary-color;
  border: none;
  border-bottom: 3px solid #08091A;
}

.secondary-link {
  background-color: $secondary-white-color;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  text-align: center;
}

.page__title {
  margin-bottom: 32px;
  font-weight: 800;
}

.description__item {
  font-size: 14px;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media (max-width: 709px) {
  .container{
    max-width: 343px;
  }
}
