//COLORS
$primary-color: #313253;
$yellow-gray-color: #FAF8F0;
$cell-color: #DCC9B5;
$cell-border: #967552;
$footer-description: #D6D6DD;
$light-grey-border: #EBE0D2;
$blue-color: #005BBB;
$yellow-color: #FFD500;
$white-color: #FFF;
$secondary-white-color: #FCFCFC;
