@import "../../../../assets/styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid $primary-color;
  margin-bottom: 42px;
}

.logo__wrapper {
  align-self: flex-end;
}

.logo {
  width: 16px;
  height: 16px;
}

.sign-menu__link {
  color: $primary-color;
  font-weight: 700;
  cursor: pointer;
}

.leader-board__link {
  &--wrapper  {
    display: flex;
    border-left: 2px solid black;
  }

  &::before {
    background: url('../../../../assets/img/medal.svg');
  }
}

.leader-board__link,
.play__link {
  position: relative;
  display: flex;
  padding-left: 27px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 700;
  color: $primary-color;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
}

.play__link {
  margin-right: 44px;
}

.play__link::before {
  background-image: url("../../../../assets/img/play.svg");
}

.link__item.first {
  margin-right: 5px;
}

@media (max-width:709px) {
  .leader-board__link,
  .sign-menu__link,
  .play__link{
    font-size: 14px;
  }

  .play__link {
    margin-right: 16px;
  }

  .leader-board__link,
  .play__link {
    flex-direction: column;
    line-height: 14px;

    &::before {
      top: 4px
    }
  }

  .leader-board__link {
    width: 45px;
  }

}

.setting-menu {
  position: absolute;
  top: -16px;
  left: -30px;

  &__wrapper {
    position: relative;
  }
}
