<nav class="nav">
  <div class="logo__wrapper">
    <img src="../../../../assets/img/cross.svg" alt="cross" class="logo">
    <img src="../../../../assets/img/ellipse.svg" alt="ellipse" class="logo">
  </div>

  <div class="leader-board__link--wrapper">
    <a class="leader-board__link">Leader board</a>
  </div>

  <div class="sign-menu__wrapper">
    <a [routerLink]="[routerLinks.authorization, routerLinks.signIn]" class="sign-menu__link">Sign In</a>
    <span> / </span>
    <a [routerLink]="[routerLinks.authorization, routerLinks.signUp]" class="sign-menu__link">Sign Up</a>
  </div>
</nav>
